<script>
(function() {
  'use strict';

  angular.module('navBarDemoBasicUsage', ['ngMaterial'])
      .controller('AppCtrl', AppCtrl);

  function AppCtrl($scope) {
    $scope.currentNavItem = 'page1';

    $scope.goto = function(page) {
      console.log("Goto " + page);
    }
  }
})();
</script>


<div ng-controller="AppCtrl" ng-cloak>

</div>



  <div class="container">

  <div class="row">
    <div class="col align-self-center">
<h1 align="center"> Search in cdnjs</h1>
</div>
</div>
</div>

<div class="container">
  <div class="jumbotron">
<div class="row align-items-start">
  <input type="text" class="form-control"
      (keyup)="searchTerm$.next($event.target.value)">

  <ul class="list-unstyled" *ngIf="results">
    <a><li *ngFor="let result of results | slice:0:9">
      <a (click)= "ClickButton()"  target="_blank">
        {{ result.name }}
        <popup>
        <p>  {{ result.latest }}<p>
        </popup>
      </a>
    </li></a>
  </ul>
</div>
</div>
</div>
